@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root{
    --background-color: #deb9de;
    --text-color: #282626;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

p{
    line-height: 25px;
}

/* NavBar */
nav{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 500;
}
nav ul li{
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}
nav ul li span{
    position: absolute;
    top: -5px;
    right: -28px;
}

/* Header index*/
header{
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
header .header-gauche{
    flex: 6;
    margin-right: 50px;
    margin-top: 100px;
}
header .header-gauche small{
    font-weight: bold;
    display: flex;
    align-items: center;
}
header .header-gauche h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: 15px;
}
header .header-gauche .links{
    margin-top: 80px;
}
header .header-gauche .links a{
    text-decoration: none;
    color: inherit;
    position: relative;
    margin-right: 40px;
    font-weight: bold;
}
header .header-gauche .links a span{
    position: absolute;
    top: -5px;
    right: -28px;
}

header .header-droite{
    flex: 2;
}
header .header-droite img{
    width: 70%;
    border-radius: 100px;
}

.about{
    margin: 2rem;
    border-radius: 2rem;
    background-color: #984691;
    margin-top: 15rem;
}
.about h4{
    color: pink;
    font-size: 35px;
    text-align: center;
    padding: 1rem;
}
.about p{
    color: #ffff;
    padding: 1rem;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}
.about-web{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.images{
    margin-top: 100px;
    padding: 2rem;
}
.images h4{
    font-size: 35px;
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
}

.card-container{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000000c1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.card:hover .overlay {
    opacity: 1;
}
.card-title {
    font-size: 1.5rem;
}
.card-text {
    text-align: center;
}
.card-link {
    text-decoration: none;
    background-color: pink;
    color: black;
    padding: 5px;
    border-radius: 7px;
}
.card{
    margin-top: 2rem;
    width: 28rem;
    color: white;
    margin: 1rem;
}
.card-title {
    color: pink;
}
.card-body{
    text-decoration: none;
    text-align: center;
    margin-top: 4rem;
}

.skill{
    background: #deb9de;
    border-radius: 1rem;
    box-sizing: border-box;
    margin: 1rem;
}

/* Site, Maquette, Design*/
.site{
    margin-top: 5rem;
}

.retour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    position: sticky;
    top: 0px;
    flex-direction: row;
}
.retour a{
    text-decoration: none;
    color: #ffffff;
}

/* Footer */
footer{
    margin-top: 10px;
    padding: 3rem;
    text-align: center;
}
footer p{
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    header{
        flex-direction: column-reverse;
    }
    header .header-gauche{
        margin-right: O;
    }
    header .header-droite{
        margin-bottom: 40px;
    }
    header .header-droite img{
        width: 250px;
    }
    .images .images-card .header-gauche img{
        width: 100%;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}